*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    font-size: 62.5%;
  }

  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 246, 174);
    /*background-color: rgb(139, 221, 246);
    background-image: url('52805.jpg');*/
  }
